body {
    background: black url('/img/bg.jpeg') no-repeat;
    color: white;
    font-family: Monospace, Courier;
    text-align: center;
}

.links {
    font-size: 75%;
    background : rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
}

.title {
    text-align: center;
    margin-top: 40px;
    font-size: 350%;
}
a:hover.title {
    text-decoration:none;
}

.static {
    position: relative;
    top: -10px;
    text-align: center;
}

.heisenberg {
    position: relative;
    top: -15px;
    text-align: center;
    font-size: 50%;
}

#footer {
    position: relative;
    font-size: 20%;
    text-align: right;
}

#footer ul {
    list-style-type: none;
}

#footer ul img {
    width: 65px;
}


.post {
    background: rgba(255, 255, 255, 0.20);
    margin-right: 20%;
    margin-left: 20%;
}

.post_title {
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding:2px;
}

.post_extras {
    text-align: left;
    color: white;
    font-style: italic;
    font-size: 60%;
    vertical-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:2px;
}

.post_excerpt {
    text-align: justify;
    background: rgba(255, 255, 255, 0.5);
    font-family: none;
    color: black;
    border-spacing: 10px;
    padding:5px;
}

.post_prose {
    text-align: justify;
    background: rgba(255, 255, 255, 0.5);
    font-family: none;
    color: black;
    border-spacing: 10px;
    padding:5px;
}


.blog_post_title {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-right: 20%;
    margin-left: 20%;
}

.blog_post_extras {
    color: white;
    font-style: italic;
    font-size: 60%;
    vertical-align: center;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#credits {
    font-size: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.prose {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.prose div {
    padding: 10px;
}

.prose h1 {
    font-weight: none;
    font-size: 120%;
    padding-left: 30px;
    padding-top: 10px;
}

.prose .citation {
    color: white;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
}

a {
    text-decoration:none;
    color:inherit;
}
a:visited {
    text-decoration:none;
    color:inherit;
}
a:hover {
    text-decoration:underline;
    color:inherit;
}


.prose div a {
    text-decoration:none;
    color:inherit;
    background: rgba(255,180,255,0.2);
}
.prose div a:visited {
    text-decoration:none;
    color:inherit;
    background: rgba(255,180,255,0.1);
}
.prose div a:hover {
    text-decoration:underline;
    color:inherit;
}

.rounded {
    padding:0px;
    margin-bottom:5px;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px; 
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;}
font-weight: bold;


